<ion-header>
  <ion-toolbar color="turismo">
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="md-person-add"></ion-icon>
      <ion-label>Seguir e invitar amigos</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="notifications"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="md-lock"></ion-icon>
      <ion-label>Privacidad</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="checkmark"></ion-icon>
      <ion-label>Seguridad</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="md-megaphone"></ion-icon>
      <ion-label>Anuncios</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="md-person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="md-help"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio">
      <ion-icon color="turismo" slot="start" name="ios-information-circle"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Inicios de Sesión</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="MostrarAlerta()" color="primary">Cerrar Sesión</ion-label>
    </ion-item>


  </ion-list>

</ion-content>